main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

input[type=radio] {
    display: none;
}
input[type=radio]:checked + img {
    border: 3px solid cyan;
}

.pokemon img {
    filter: grayscale(100%);
}
.pokemon img:hover {
    filter: none;
    border: 3px solid cyan;
}